<!--Прописываем наследование оснавного шаблона -->

{% extends 'main/layoute.html' %}           <!--наследование основного шаблона -->

{% block title %}
	<title>Страница для добавления новостей</title>     <!--Название страницы -->
{% endblock %}

{% block content %}                                     <!--открытие блока контента -->
<h1>Страница для добавления новостей</h1>               <!--Название блока -->

<div>
	<form method="post" class="mt-4 p-4 border rounded shadow">
    {% csrf_token %}  <!-- CSRF-токен для защиты формы (обязательно в Django) -->

    <!-- Название новости -->
    <div class="form-group mb-3">
        {{ form.title }}
    </div>

    <!-- Краткое описание -->
    <div class="form-group mb-3">
        {{ form.short_description }}
    </div>

    <!-- Текст новости -->
    <div class="form-group mb-3">
        {{ form.text }}
    </div>

    <!-- Дата и время в одной строке -->
    <div class="row mb-4">
        <div class="col-md-6">

            {{ form.pub_date }}
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <!-- Кнопка отправки -->
    <button type="submit" class="btn btn-primary w-100">
        <i class="bi bi-plus-circle me-2"></i> Добавить новость
    </button>
</form>
</div>
{% endblock %}