{% extends 'main/layoute.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <div class="mt-4">
        <ul class="list-group">
            <li class="list-group-item">Email: django-cosmos@example.com</li>
            <li class="list-group-item">Телефон: +7 (999) 987-65-43</li>
            <li class="list-group-item">Адрес: Москва, ул. Django, д. 101</li>
            <li class="list-group-item">GitHub: github.com/django-cosmos</li>
            <li class="list-group-item">Telegram: @django_cosmos_support</li>
        </ul>
    </div>
{% endblock %}